@charset "utf-8";

/* FONT */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'),
		url('../fonts/Pretendard-Black.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Black.subset.woff') format('woff'),
		url('../fonts/Pretendard-Black.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'),
		url('../fonts/Pretendard-ExtraBold.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-ExtraBold.subset.woff') format('woff'),
		url('../fonts/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'),
		url('../fonts/Pretendard-Bold.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Bold.subset.woff') format('woff'),
		url('../fonts/Pretendard-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),
		url('../fonts/Pretendard-SemiBold.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-SemiBold.subset.woff') format('woff'),
		url('../fonts/Pretendard-SemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'),
		url('../fonts/Pretendard-Medium.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Medium.subset.woff') format('woff'),
		url('../fonts/Pretendard-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),
		url('../fonts/Pretendard-Regular.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Regular.subset.woff') format('woff'),
		url('../fonts/Pretendard-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'),
		url('../fonts/Pretendard-Light.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Light.subset.woff') format('woff'),
		url('../fonts/Pretendard-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'),
		url('../fonts/Pretendard-ExtraLight.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-ExtraLight.subset.woff') format('woff'),
		url('../fonts/Pretendard-ExtraLight.otf') format('opentype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'),
		url('../fonts/Pretendard-Thin.subset.woff2') format('woff2'),
		url('../fonts/Pretendard-Thin.subset.woff') format('woff'),
		url('../fonts/Pretendard-Thin.otf') format('opentype');
}

/* BASE */
html, body, div, ul, ol, dl, li, dt, dd, p, h1, h2, h3, h4, h5, h6, table, thead, tbody, tfoot, tr, th, td, caption, address, article, aside,
canvas, details, figure, figcaption, footer, header, menu, nav, section, main,
label, button, select, textarea, input, fieldset, legend, a, span, strong, em, address, dfn, small, i, b {margin: 0; padding: 0; border: 0; list-style: none; font-style: inherit; font-size: inherit; font-weight: inherit; font-family: inherit; line-height: inherit; letter-spacing: -0.1rem; word-break: inherit; word-wrap: inherit; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;}
:before, :after {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;}
article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section, main {display: block;}
a, area, button, input, label, select, summary, textarea, [tabindex] {touch-action: manipulation;}
html {height: 100%; font-family: 'Pretendard'; font-size: 10px; line-height: 1.5; -webkit-tap-highlight-color: transparent;}
body {height: 100%; margin: 0; font-size: 1.6rem; font-style: normal; font-weight: normal; line-height: inherit; word-break: keep-all; word-wrap: word-break; letter-spacing: -0.075rem; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
[hidden], hr {display: none;}
img {vertical-align: middle;}
fieldset, iframe {width: 100%;}
button, img, a, frame, iframe, fieldset {border: 0;}
a {text-decoration: none;}
table {width: 100%; border-spacing: 0; border-collapse: collapse;}
caption {overflow: hidden; height: 0;}
legend {overflow: hidden; height: 0;}
button {overflow: hidden; background-color: transparent; cursor: pointer; color: rgb(0, 0, 0);}
button::-moz-focus-inner {border: 0px; padding: 0px;}
select {appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;}
select::-ms-expand {display: none;}
input::-ms-clear,
input::-ms-reveal {display: none; width: 0; height: 0;}
input::search-decoration,
input::search-cancel-button,
input::search-results-button,
input::search-results-decoration {display: none;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input::-webkit-calendar-picker-indicator {-webkit-appearance: none;}
input::-webkit-autofill,
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {display: none !important; visibility: hidden; position: absolute; right: 0; pointer-events: none;}

/* Media Query for Mobile Devices */
@media (max-width: 280px) {
	html {font-size: 7.7px}
}

/* Media Query for Mobile Devices */
@media (min-width: 281px) and (max-width: 320px) {
	html {font-size: 8.8px}
}

/* Media Query for Mobile Devices */
@media (min-width: 321px) and (max-width: 480px) {
	html {}
}

/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	html {}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
	html {}
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
	html {}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
	html {}
}