@charset "utf-8";

/* GLOBAL VARIABLES */
:root {}





/* <UxContainer> */
.ux-container {display: flex; flex-direction: column; min-height: 100%;}
/* <UxHeader> */
.ux-header {display: flex; flex-direction: column; padding: var(--space);}
/* <UxMain> */
.ux-main {display: flex; flex-direction: column; gap: 1.6rem; padding-bottom: calc(var(--space) * 2);}
.ux-main {flex-grow: 1;}
/* <UxSection> */
.ux-section {display: flex; flex-direction: column; gap: 1.6rem;}
/* <UxArticle> */
.ux-article {display: flex; flex-direction: column; gap: 1.6rem;}
.ux-article.space {padding-left: var(--space); padding-right: var(--space);}
/* <UxSubject> */
.ux-subject {display: flex; flex-direction: column;}
/* <UxContent> */
.ux-content {display: flex; flex-direction: column; gap: 1.6rem;}
/* <UxAside> */
.ux-aside {display: none;}
/* <UxFooter> */
.ux-footer {display: none;}





/* <UxGroup> */
.ux-group {--gap: .8rem;}
.ux-group {display: flex; flex-wrap: wrap; gap: var(--gap);}
/* <UxGroup> row */
.ux-group.row {flex-direction: row;}
.ux-group.row.center {justify-content: center;}
.ux-group.row.left {justify-content: flex-start;}
.ux-group.row.right {justify-content: flex-end;}
/* <UxGroup> column */
.ux-group.column {flex-direction: column;}
.ux-group.column.center {align-items: center;}
.ux-group.column.left {align-items: flex-start;}
.ux-group.column.right {align-items: flex-end;}
/* <UxGroup> gap */
.ux-group.gap16 {--gap: 1.6rem;}
.ux-group.gap12 {--gap: 1.2rem;}
.ux-group.gap8 {--gap: .8rem;}
.ux-group.gap4 {--gap: .4rem;}
/* <UxGroup> col */
.ux-group.col1 {--col: 1;}
.ux-group.col2 {--col: 2;}
.ux-group.col3 {--col: 3;}
.ux-group.col4 {--col: 4;}
.ux-group.col5 {--col: 5;}
.ux-group[class*=col] > * {width: calc((100% / var(--col)) - var(--gap) + (var(--gap) / var(--col)));}





/* <UxDivider> */
.ux-divider {display: block; margin: 0; width: 100%; height: .8rem; border: 0; background-color: var(--light1);}
.ux-divider.linear {height: .1rem;}
.ux-divider.dashed {height: .1rem; background-image: repeating-linear-gradient(to right, var(--light2), var(--light2) .1rem, var(--light0) .1rem, var(--light0) .4rem);}





/* <UxInput> */
.ux-input::part(base) {display: flex; align-items: center; gap: .8rem; padding: 0 var(--radius-form); height: var(--height-form); border-radius: var(--radius-form); box-shadow: var(--inset); background-color: var(--light0); transition: var(--inset-transition); transform: translateZ(0);}
.ux-input::part(input) {flex-grow: 1; flex-shrink: 0; flex-basis: 0; width: 100%; border: 0; background-color: transparent; font-size: 1.6rem; caret-color: var(--dark3);}
.ux-input::part(input):focus,
.ux-input::part(input):focus-visible {outline: none;}
/* <UxInput> align */
.ux-input.left::part(input) {text-align: left;}
.ux-input.right::part(input) {text-align: right;}
.ux-input.center::part(input) {text-align: center;}
/* <UxInput> prefix */
.ux-input::part(prefix) {flex-shrink: 0; display: none;}
.ux-input[prefix]::part(prefix) {display: initial;}
/* <UxInput> suffix */
.ux-input::part(suffix) {flex-shrink: 0; display: none;}
.ux-input[suffix]::part(suffix) {display: initial;}
/* <UxInput> clear */
.ux-input::part(clear) {width: 1.6rem; height: 1.6rem; mask-position: 50% 50%; mask-repeat: no-repeat; mask-size: contain; background-color: var(--dark3); cursor: pointer;}
.ux-input::part(clear) {mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>');}
.ux-input::part(clear) {display: none;}
.ux-input[clear]::part(clear) {display: initial;}
/* <UxInput> submit */
.ux-input::part(submit) {cursor: pointer;}
.ux-input::part(submit) {display: none;}
.ux-input[submit]::part(submit) {display: initial;}
/* <UxInput> focus */
.ux-input::part(base):focus-within {box-shadow: var(--inset-focus);}
/* <UxInput> valid */
.ux-input[valid]::part(base) {box-shadow: var(--inset-valid);}
.ux-input[valid]::part(base):focus-within {box-shadow: var(--inset-valid-focus);}
/* <UxInput> invalid */
.ux-input[invalid]::part(base) {box-shadow: var(--inset-invalid);}
.ux-input[invalid]::part(base):focus-within {box-shadow: var(--inset-invalid-focus);}
/* <UxInput> readonly */
.ux-input[readonly]::part(input),
.ux-input[readonly]::part(prefix),
.ux-input[readonly]::part(suffix) {color: var(--dark3);}
/* <UxInput> disabled */
.ux-input[disabled]::part(base) {background-color: var(--light1);}
.ux-input[disabled]::part(input),
.ux-input[disabled]::part(prefix),
.ux-input[disabled]::part(suffix) {color: var(--dark3);}





/* <UxCheckbox> */
.ux-checkbox {display: inline-flex; vertical-align: top;}
.ux-checkbox::part(base) {display: inline-flex; position: relative; align-items: center; gap: .8rem; cursor: pointer;}
.ux-checkbox::part(input) {visibility: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; background-color: transparent; opacity: 0;}
.ux-checkbox::part(icon) {--width: 1.6rem; --height: 1.6rem;}
.ux-checkbox::part(icon) {flex-shrink: 0; display: inline-flex; width: var(--width); height: var(--height); mask-position: 50% 50%; mask-repeat: no-repeat; mask-size: contain; background-color: var(--dark3); vertical-align: top;}
.ux-checkbox::part(label) {flex-shrink: 0;}
/* <UxCheckbox> icon */
.ux-checkbox::part(icon) {mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>');}
.ux-checkbox.circle::part(icon) {mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"/></svg>');}
/* <UxCheckbox> reverse */
.ux-checkbox.reverse::part(base) {flex-direction: row-reverse;}
/* <UxCheckbox> checked */
.ux-checkbox[checked]::part(icon) {background-color: var(--color1);}
/* <UxCheckbox> disabled */
.ux-checkbox[disabled]::part(label) {color: var(--dark3);}
.ux-checkbox[disabled]::part(icon) {opacity: .5;}





/* <UxRadio> */
.ux-radio {display: inline-flex; vertical-align: top;}
.ux-radio::part(base) {display: inline-flex; position: relative; align-items: center; gap: .8rem; cursor: pointer;}
.ux-radio::part(input) {visibility: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; border: 0; background-color: transparent; opacity: 0;}
.ux-radio::part(icon) {--width: 1.6rem; --height: 1.6rem;}
.ux-radio::part(icon) {flex-shrink: 0; display: inline-flex; width: var(--width); height: var(--height); mask-position: 50% 50%; mask-repeat: no-repeat; mask-size: contain; background-color: var(--dark3); vertical-align: top;}
.ux-radio::part(label) {flex-shrink: 0;}
/* <UxRadio> icon */
.ux-radio::part(icon) {mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256-96a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>');}
/* <UxRadio> reverse */
.ux-radio.reverse::part(base) {flex-direction: row-reverse;}
/* <UxRadio> checked */
.ux-radio[checked]::part(icon) {background-color: var(--color1);}
/* <UxRadio> disabled */
.ux-radio[disabled]::part(label) {color: var(--dark3);}
.ux-radio[disabled]::part(icon) {opacity: .5;}