@charset "utf-8";

html {}
body {}
#__next {display: flex; flex-direction: column; height: 100%;}



/* Heading Size */
h3, h4, h5, h6 {font-weight: 600;}
h3 strong, h4 strong, h5 strong, h6 strong {font-weight: 800;}
h3 {font-size: 2rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.6rem;}
h6 {font-size: 1.4rem;}